<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<title>股票预测系统</title>
		<link href="/static/css/login.css" rel="stylesheet" type="text/css"/>
	</head>

	<body>
		<form id="denglu">
		<div class="login_box">
			<div class="login_l_img"><img src="/static/images/login_img.png" /></div>
			<div class="login">
				<div class="login_logo">
					<a href="#"><img src="/static/images/login_logo.png" /></a>
				</div>
				<div class="login_name">
					<p>股票预测系统</p>
				</div>
				<form method="post">
					<input id="ZhangHao" name="ZhangHao" type="text" placeholder="请输入用户名">
					<input id="MiMa" name="MiMa" type="password" placeholder="请输入密码">

					<input value="登录" style="width:100%;" type="button" onclick="denglu()">
					<a href="{{url_for('regist_user')}}" style="float: right;margin-top: 15px">注册</a>
				</form>
			</div>
			<div class="copyright">股票预测系统有限公司版权所有</div>
		</div>
			</form>

		<script src="/static/jsv/bmob-min.js"></script>
		<script src="/static/js/jquery-1.9.1.min.js"></script>
		<script src="/static/js/Convert_Pinyin.js"></script>
		
		<script type="application/javascript">
			var dic = {}
		var nname = ''
		

		function denglu(){
			var a = $("#denglu").serializeArray()
			dic = {}
			for(var i in a){
				var d = a[i]
				dic[d["name"]]=d["value"]
			}
			dic["table"]=pinyin.getFullChars("用户管理")
			dic["database"]='admin'
			$.get('http://localhost:9997/getdata',dic,function(data){
				var arr =  JSON.parse(data).data
				for(var i in arr){
					var d = arr[i]
					if (d["ZhangHao"]==dic["ZhangHao"]&&d["MiMa"]==dic["MiMa"]) {
						window.localStorage.nowuser = JSON.stringify(d)
						window.localStorage.nowinfor=JSON.stringify(d)
						location.href="{{url_for('main_part')}}"
						return
					}
				}
				alert("账号或密码错误")
			})

		}

		</script>
	</body>

</html>